
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f34fbaa61-d7ef-4b9b-92d1-1c4ac16213a4 .pane_messages > .label {
        display:none !important;
    }
    .f34fbaa61-d7ef-4b9b-92d1-1c4ac16213a4 .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .f34fbaa61-d7ef-4b9b-92d1-1c4ac16213a4 .pane_content > .label {
        
display:block !important;    }
    .f34fbaa61-d7ef-4b9b-92d1-1c4ac16213a4 .pane_toolbar > .label {
        display:none !important;
    }
