
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fca2922e8-faf4-4592-b78f-935e8aeaf7fa .pane_toolbar > .label {
        display:none !important;
    }
    .fca2922e8-faf4-4592-b78f-935e8aeaf7fa .pane_content > .label {
        
display:block !important;    }
    .fca2922e8-faf4-4592-b78f-935e8aeaf7fa .pane_messages > .label {
        display:none !important;
    }
