
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f52796cf9-166e-4c7d-b0ea-687357c41e1b .pane_toolbar > .label {
        display:none !important;
    }
    .f52796cf9-166e-4c7d-b0ea-687357c41e1b .pane_messages > .label {
        display:none !important;
    }
    .f52796cf9-166e-4c7d-b0ea-687357c41e1b .pane_content > .label {
        
display:block !important;    }
