
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fa1d061ce-d764-4247-bc00-181c6afac068 .pane_messages > .label {
        display:none !important;
    }
    .fa1d061ce-d764-4247-bc00-181c6afac068 .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .fa1d061ce-d764-4247-bc00-181c6afac068 .pane_content > .label {
        
display:block !important;    }
    .fa1d061ce-d764-4247-bc00-181c6afac068 .pane_toolbar > .label {
        display:none !important;
    }
