
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f9c6311f1-b2f3-4724-a709-89597d312417 .pane_toolbar > .label {
        display:none !important;
    }
    .f9c6311f1-b2f3-4724-a709-89597d312417 .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .f9c6311f1-b2f3-4724-a709-89597d312417 .pane_content > .label {
        
display:block !important;    }
    .f9c6311f1-b2f3-4724-a709-89597d312417 .pane_messages > .label {
        display:none !important;
    }
