
/**
 * Forms 3.1.0 V12 compliant.
 */
    .ff4942ccf-ebe8-4c4f-9b26-e5fb94fa669b .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .ff4942ccf-ebe8-4c4f-9b26-e5fb94fa669b .pane_content > .label {
        
display:block !important;    }
    .ff4942ccf-ebe8-4c4f-9b26-e5fb94fa669b .pane_messages > .label {
        display:none !important;
    }
    .ff4942ccf-ebe8-4c4f-9b26-e5fb94fa669b .pane_toolbar > .label {
        display:none !important;
    }
