
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f4669dc07-2f76-4a7f-8397-c6815c325477 .pane_pane2 > .label {
        display:none !important;
    }
    .f4669dc07-2f76-4a7f-8397-c6815c325477 .pane_pane3 > .label {
        display:none !important;
    }
    .f4669dc07-2f76-4a7f-8397-c6815c325477 .pane_pane1 > .label {
        display:none !important;
    }
    .f4669dc07-2f76-4a7f-8397-c6815c325477 .pane_geschftsfall > .label {
        display:none !important;
    }
