
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f86b287dd-c07f-44a8-bd2b-61e3b745cddf .pane_messages > .label {
        display:none !important;
    }
    .f86b287dd-c07f-44a8-bd2b-61e3b745cddf .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .f86b287dd-c07f-44a8-bd2b-61e3b745cddf .pane_content > .label {
        
display:block !important;    }
    .f86b287dd-c07f-44a8-bd2b-61e3b745cddf .pane_toolbar > .label {
        display:none !important;
    }
