
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fe6bae3e9-1019-4ec7-b98a-6afdf8ebc52d .pane_toolbar > .label {
        display:none !important;
    }
    .fe6bae3e9-1019-4ec7-b98a-6afdf8ebc52d .pane_messages > .label {
        display:none !important;
    }
    .fe6bae3e9-1019-4ec7-b98a-6afdf8ebc52d .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .fe6bae3e9-1019-4ec7-b98a-6afdf8ebc52d .pane_content > .label {
        
display:block !important;    }
