
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fc4baef5f-b8fd-4d5e-b9fa-1ecd53e3cf85 .pane_messages > .label {
        display:none !important;
    }
    .fc4baef5f-b8fd-4d5e-b9fa-1ecd53e3cf85 .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .fc4baef5f-b8fd-4d5e-b9fa-1ecd53e3cf85 .pane_content > .label {
        
display:block !important;    }
    .fc4baef5f-b8fd-4d5e-b9fa-1ecd53e3cf85 .pane_toolbar > .label {
        display:none !important;
    }
