
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f2c7e75b8-facc-4e19-a78f-8b1b389b3416 .pane_toolbar > .label {
        display:none !important;
    }
    .f2c7e75b8-facc-4e19-a78f-8b1b389b3416 .pane_content > .label {
        
display:block !important;    }
    .f2c7e75b8-facc-4e19-a78f-8b1b389b3416 .pane_messages > .label {
        display:none !important;
    }
