
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f76adbae5-8bb5-46d9-bf5a-ba46cbb35e63 .pane_toolbar > .label {
        display:none !important;
    }
    .f76adbae5-8bb5-46d9-bf5a-ba46cbb35e63 .pane_messages > .label {
        display:none !important;
    }
    .f76adbae5-8bb5-46d9-bf5a-ba46cbb35e63 .pane_Geschaeftsfall_found__add_delete > .label {
        display:none !important;
    }
    .f76adbae5-8bb5-46d9-bf5a-ba46cbb35e63 .pane_content > .label {
        
display:block !important;    }
